.command-palette {
  background-color: #efeff1ea;
  min-height: 60px;
  width: 600px;
  top: 35%;
  left: 50%;
  margin-top: -30px;
  margin-left: -300px;
  position: fixed;
  border-radius: 7px;
  border-color: #e4e6e9ff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.command-palette-input,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.command-palette-input {
  padding: 10px 10px 10px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
}
